<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sporty.jackpot.infrastructure.persistence.mapper.JackpotRewardMyBatisMapper">

    <resultMap id="rewardResultMap" type="com.sporty.jackpot.infrastructure.persistence.entity.JackpotRewardEntity">
        <id     property="id"           column="id"/>
        <result property="betId"        column="bet_id"/>
        <result property="userId"       column="user_id"/>
        <result property="jackpotId"    column="jackpot_id"/>
        <result property="rewardAmount" column="reward_amount"/>
        <result property="createdAt"    column="created_at"/>
    </resultMap>

    <select id="existsByBetId" parameterType="String" resultType="boolean">
        SELECT COUNT(1) > 0
        FROM jackpot_reward
        WHERE bet_id = #{betId}
    </select>

    <insert id="save"
            parameterType="com.sporty.jackpot.infrastructure.persistence.entity.JackpotRewardEntity"
            useGeneratedKeys="true"
            keyProperty="id">
        INSERT INTO jackpot_reward (bet_id,
                                    user_id,
                                    jackpot_id,
                                    reward_amount,
                                    created_at)
        VALUES (#{betId},
                #{userId},
                #{jackpotId},
                #{rewardAmount},
                #{createdAt})
    </insert>

</mapper>
